<h1>Log In</h1>

<% form_tag session_path do -%>
  <fieldset>
    <legend>Enter Your Details</legend>
    <p><%= label_tag 'Email' %><br />
    <%= text_field_tag 'email', @email %></p>

    <p><%= label_tag 'Password' %><br/>
    <%= password_field_tag 'password', nil %></p>

    <!-- Uncomment this if you want this functionality
    <p><%= label_tag 'remember_me', 'Remember me' %>
    <%= check_box_tag 'remember_me', '1', @remember_me %></p>
    -->

    <p><%= submit_tag 'Log in' %></p>
  </fieldset>
<% end -%>

<p>New User? <%= link_to "Start Free Trial", new_user_url%></p>
<p>Don't remember your password? <a href="/forgot">Reset your password</a></p>
