<h1>Account Settings</h1>

<p>You are part of <b><%=@user.companies[0].name%></b></p>

<%= error_messages_for :user%>

<%form_for @user, :url => "/users/settings" do |f|%>

  <p><%= label_tag 'email' %><br/>
  <%= f.text_field :email %></p>
  
  <p><%= label_tag 'mobile', 'Mobile Number' %><br/>
  <%= f.text_field :mobile %></p>

  <p><%= label_tag 'password', "Change Password" %><br/>
  <%= f.password_field :password %></p>

  <p><%= label_tag 'password_confirmation', 'Confirm New Password' %><br/>
  <%= f.password_field :password_confirmation %></p>

  <%= submit_tag "Save"%>

<%end-%>


